html,
body {
    height: 100%;

}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* BOSS STYLES */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
body {
    font-family: 'Roboto', sans-serif;
}
.boss-yellow-color {
    color: #ffd715; /* hover: #fbe751; */
}
.navbar-boss {
    height: 50px;
    font-size: 16px;
    font-weight: lighter;
}
.navbar-boss-mobile {
    font-size: 16px;
    font-weight: lighter;
}
.navbar-boss-mobile .icon-bar {
    background-color: #ffd715 !important;
}
.navbar-boss-mobile .navbar-toggle {
    border-color: #ffd715;
}
.navbar-boss .navbar-nav > li > a {
    color: #ffd715;
    text-decoration: underline;
    padding-left: 13px;
    padding-right: 15px;
}
.navbar-boss ul.navbar-nav > li > a:hover {
    color: #fff;
    text-decoration: none;
}
.navbar-boss .navbar-nav > li.active > a {
    text-decoration: none;
}
.blb {
    padding: 0;
}
.blb p {
    text-align: center;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 900;
}
.blb-yellow-title {
    color: #ffd715;
    position: relative;
    top: -14px;
}
.boss-mobile-title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
    color: #ffd715 !important;
}
.boss-logo-block {
    width: 195px;
    height: 142px;
    background: url("/images/logo_png8.png");
}
.blb-hide {
    display: none;
}
.boss-countries {
    min-width: 46px;
    background: #555;
    margin-top: 7px !important;
}
.boss-countries > li > a {
    padding: 5px 13px;
}
.boss-countries-icon {
    position: absolute;
    top: 32px;
    left: 14px;
    color: #ffd715;;
}
.btn-yellow {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #000;
    font-size: 20px;
    background: #ffd715;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-yellow:hover {
    background: #fbe751;
    text-decoration: none;
}