html,
body {
    height: 100%;
}

/* vertical centering */
.vcentered-block {
    display: flex;
    display: -webkit-flex;
    min-height: 64px;
}
.vcentered-content {
    margin-bottom: auto;
    margin-top: auto;
}

/* horizontal centering */
.hcentered-block {
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container, .wrap > .row {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* BOSS STYLES */
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,900&subset=cyrillic');
body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal;
}
.boss-yellow-color {
    color: #ffd715; /* hover: #fbe751; */
}
.navbar-boss {
    height: 50px;
    font-size: 16px;
    font-weight: lighter;
}
.navbar-brand{
    display: none;
}
.navbar-boss-mobile {
    font-size: 16px;
    font-weight: lighter;
}
.icon-bar {
    background-color: #ffd715 !important;
}
.navbar-toggle {
    border-color: #ffd715 !important;
}
.navbar-boss .navbar-nav > li > a,
.navbar-boss-mobile .navbar-nav > li > a {
    color: #ffd715;
    text-decoration: underline;
    padding-left: 13px;
    padding-right: 13px;
}
.navbar-boss ul.navbar-nav > li > a:hover {
    color: #fff;
    text-decoration: none;
}
.navbar-boss .navbar-nav > li.active > a {
    text-decoration: none;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
}
.blb {
    padding: 0;
}
.blb p {
    text-align: center;
    /*font-size: 56px;*/
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
    display: none;
    /*text-shadow: 2px 2px 1px rgba(255,255,255,.5);*/
}
.blb-yellow-title {
    display: block !important;
    color: #ffd715 !important;
    position: relative;
    /*top: -14px;*/
    top: -2px;
}
.boss-mobile-title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
    color: #ffd715 !important;
    display: block;
}
.boss-logo-block {
    /*width: 195px;*/
    /*height: 142px;*/
    /*background: url("../images/logo_png24.png");*/
    width: 195px;
    height: 138px;
    background: url("../images/logo_png24_new.png");
}
.blb-hide {
    display: none;
}
.boss-countries {
    min-width: 46px;
    background: #555;
    /*margin-top: 7px !important;*/
}
.boss-countries > li > a {
    padding: 5px 13px;
    color: #ffd715;
}
/*.boss-countries-icon {*/
    /*position: absolute;*/
    /*top: 32px;*/
    /*left: 14px;*/
    /*color: #ffd715;;*/
/*}*/
.boss-countries-icon {
    position: absolute;
    top: 32px;
    left: 50%;
    color: #ffd715;
    margin-left: -8px;
    width: 16px;
}
.flags-dropdown {
    width: 46px;
    text-align: center;
}

/* BLOCK 1 */
.boss-main-block1 {
    min-height: 200px;
    background-color: #ebebec;
}
.bmb1-carousel-wrapper {
    margin-top: 50px;
}
#block1_carousel .item {
    /*height: 640px;*/
}
#block1_carousel .carousel-control.left,
#block1_carousel .carousel-control.right {
    background-image:none !important;
    filter:none !important;
}
.bmb1-ib-caption {
    position: absolute;
    width: 100%;
    top: 30%;
    right: 0;
    font-size: 18px;
    color: #f3f3f3;
    text-shadow: 2px 2px 1px rgba(0,0,0,.5);
}
.bmb1-ib-buttons-block {
    margin-top: 20px;
}
.bmb1-yellow-appstore, .bmb1-yellow-gplay {
    /*width: 286px;*/
    /*height: 94px;*/
    width: 287px;
    height: 95px;
    text-shadow: none;
    margin-bottom: 20px;
}
.bmb1-yellow-appstore {
    /*background: url("/images/btn_yellow_appstore.png") transparent;*/
    /*background: url("../images/btn_yellow_appstore1.png") transparent;*/
    /*background: url("../images/btn_yellow_appstore2.png") transparent;*/
    background: url("../images/btn_yellow_appstore2_new.png") transparent;
    margin-bottom: 35px;
}
.bmb1-yellow-gplay {
    /*background: url("/images/btn_yellow_gplay.png") transparent;*/
    background: url("../images/btn_yellow_gplay1.png") transparent;
}
.bmb1-yellow-appstore span {
    position: relative;
    left: 80px;
    top: 5px;
    font-size: 20px;
    color: #231f20;
}
.bmb1-yellow-gplay span {
    position: relative;
    left: 85px;
    top: 7px;
    font-size: 16px;
    color: #231f20;
    text-transform: uppercase;
}
#block1_carousel .carousel-control .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    color: #fff;
    right: 50%;
}
#block1_carousel .carousel-control .glyphicon-menu-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    color: #fff;
    left: 50%;
}
#block1_carousel .carousel-control {
    width: 50px;
}
/*#block1_carousel .left, #block1_carousel .right {*/
    /*width: 50px;*/
/*}*/
.top-banner-img {
    width: 100%;
}

/* BLOCK 2 */
.boss-main-block2 {
    /*background-color: #ffd715;*/
    background-color: #fce652;
    border-bottom: 1px solid #222;
}
.bmb2-wrap {
    /*background: url("../images/boss-bg.png") repeat;*/
    background: url("../images/boss-bg2.png") repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bmb2-header {
    font-size: 45px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.bmb2-row {
    margin-bottom: 25px;
}
.bmb-icon-block {
    text-align: right;
}
.bmb2-text {
    font-size: 20px;
    font-weight: normal; /* 100 */
}

/* BLOCK 3 */
.boss-main-block3 {
    /*background-color: #ebebec;*/
    background-color: #eaeace;
    border-bottom: 1px solid #222;
    padding-top: 30px;
}
.bmb3-left-img {
    width: 100%;
}
.bmb3-bottom-img {
    width: 100%;
}
.bmb3-header {
    font-size: 45px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.bmb3-tag-block {
    text-align: right;
    padding-top: 14px; /* 8, 14(?!?!) */
}
.bmb3-p {
    font-size: 20px;
    font-weight: normal;
}

/* BLOCK 4 */
.boss-main-block4 {
    /*background-color: #ffd715;*/
    background-color: #fce652;
    border-bottom: 1px solid #222;
    padding-top: 50px;
    /*padding-bottom: 50px;*/
}
.bmb4-right-block, .bmb4-row-img {
    display: none !important;
}
.bmb4-row-active {
    display: block !important;
}
.bmb4-phone-block {
    width: 380px;
    height: 779px;
    /*background: url("../images/t_phone.png");*/
    background: url("../images/t_phone_new.png");
}
.bmb4-phone-block img.bmb4-row-img {
    width: 343px;
    height: 605px;
    position: relative;
    top: 83px;
    left: 18px;
    border: 1px solid #222;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.bmb4-left-block-wrap {
    margin-top: 104px;
}
.bmb4-right-block-wrap {
    margin-top: 70px;
}
.bmb4-left-block {
    margin-bottom: 30px;
}
.bmb4-left-block-small{
    margin-bottom: 10px;
}
.bmb4-row-title {
    font-size: 20px;
    font-weight: 100;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
}
.bmb4-row-title-center{
    text-align: center;
}
.bmb4-row-title span {
    border-bottom: 1px dotted #333;
}
.bmb4-row-tag-img {
    margin-top: 5px;
    display: none;
}
.bmb4-row-active > .bmb4-row-tag > .bmb4-row-tag-img {
    display: block;
}
.bmb4-row-active .bmb4-row-title {
    color: #a98e1b;
    cursor: default;
}
.bmb4-row-active .bmb4-row-title span {
    border-bottom: none;
}
.bmb4-buttons-block{
    position: relative;
    bottom: 50px;
}
.bmb4-black-appstore, .bmb4-black-gplay {
    /*width: 286px;*/
    /*height: 94px;*/
    width: 287px;
    height: 95px;
}
.bmb4-black-appstore {
    /*background: url("/images/btn_black_appstore.png");*/
    /*background: url("../images/btn_black_appstore1.png");*/
    /*background: url("../images/btn_black_appstore2.png");*/
    background: url("../images/btn_black_appstore2_new.png");
}
.bmb4-black-gplay {
    /*background: url("/images/btn_black_gplay.png");*/
    /*background: url("../images/btn_black_gplay1.png");*/
    background: url("../images/btn_black_gplay2.png");
}
.bmb4-black-appstore span {
    position: relative;
    left: 80px;
    top: 5px;
    font-size: 20px;
    /*color: #ffd715;*/
    color: #fbf78c;
}
.bmb4-black-gplay span {
    position: relative;
    left: 85px;
    top: 5px;
    font-size: 20px;
    /*color: #ffd715;*/
    /*color: #fce652;*/
    color: #fbf78c;
    /*text-transform: uppercase;*/
}
.bmb4-btn-link:hover {
    text-decoration: none;
}

/* BLOCK 5 */
.boss-main-block5 {
    /*background-color: #ebebec;*/
    background-color: #daecf4;
    border-bottom: 1px solid #222;
    padding-top: 30px;
    /*padding-bottom: 50px;*/
}
.bmb5-subscribe-block {
    margin-top: 20px;
}
.bmb5-subscribe-img {
    text-align: right;
}
.bmb5-subscribe-link {
    color: #000;
}
.bmb5-subscribe-link:hover {
    color: #000;
    text-decoration: none;
}
.bmb5-subscribe-text {
    position: relative;
    bottom: 10px;
    border-bottom: 1px dotted #222;
}
.bmb5-subscribe-text:hover {
    border-bottom: none;
}
#block5_carousel {
    margin-bottom: 80px;
}
#block5_carousel .carousel-control.left,
#block5_carousel .carousel-control.right {
    background-image:none !important;
    filter:none !important;
    width: 30px;
}
.bmb5-carousel-item {
    padding: 0 30px 15px;
    /*min-height: 225px;*/
    height: 245px;
}
.bmb5-slider-item-right {
    border-right: 1px solid #111;
    padding-left: 0;
}
.bmb5-slider-item-both {
    border-left: 1px solid #111;
    border-right: 1px solid #111;
}
.bmb5-ci-header {
    height: 70px;
    margin-bottom: 10px;
    overflow: hidden;
}
.bmb5-ci-text {
    height: 160px;
    overflow: hidden;
}
.ml30 {
    margin-left: 30px;
    margin-top: 10px;
}
.bmb5-h3 {
    font-size: 20px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
}
.bmb5-h3 a, .bmb5-h3 a:hover {
    color: #000;
}
.bmb5-h3 a {
    text-decoration: underline;
}
.bmb5-h3 a:hover {
    text-decoration: none;
}
.bmb5-p, .bmb5-ci-text {
    font-size: 18px;
    font-weight: normal;
}
#block5_carousel .carousel-control .glyphicon-menu-right {
    position: absolute;
    top: 115%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    color: #000;
    right: 0;
}
#block5_carousel .carousel-control .glyphicon-menu-left {
    position: absolute;
    top: 115%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    color: #000;
    left: 0;
}
/* BLOCK 6 */
.boss-main-block6 {
    /*background-color: #6fcd9b;*/
    background-color: #eaeace;
    border-bottom: 1px solid #222;
    padding-top: 30px;
    padding-bottom: 50px;
}
.bmb6-carousel-wrapper {
    /*width: 100%;*/
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#block6_carousel .carousel-control.left,
#block6_carousel .carousel-control.right {
    background-image:none !important;
    filter:none !important;
}
.bmb6-thumb {
    /*background-color: #6fcd9b;*/
    background-color: #eaeace;
    border: none;
}
.bmb6-thumb img {
    width: 70px;
    margin-left: 10px;
}
.bmb6-thumb h3 {
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}
.bmb6-thumb-text {
    /*height: 155px;*/
    overflow: hidden;
    padding: 3px;
}
.bmb6-thumb p {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
}
#block6_carousel .carousel-control .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    color: #000;
    right: 0;
}
#block6_carousel .carousel-control .glyphicon-menu-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    color: #000;
    left: 0;
}
#block6_carousel .carousel-control.left,
#block6_carousel .carousel-control.right {
    width: 30px;
}
#block6_carousel .carousel-control.left {
    left: -30px;
}
#block6_carousel .carousel-control.right{
    right: -30px;
}
.bmb6-carousel-wrapper .embed-responsive {
    top: 60px;
}
.bmb6-carousel-wrapper .item {
    /*width: 95%;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* BLOCK 7 */
.boss-main-block7 {
    /*background-color: #ffd715;*/
    background-color: #fce652;
    border-bottom: 1px solid #222;
}
.bmb7-content {
    padding-top: 30px;
    padding-bottom: 40px;
}
.bmb7-content a, .bmb7-content a:hover {
    color: #000;
    font-weight: 100;
}
.bmb7-content a {
    text-decoration: underline;
}
.bmb7-content a:hover {
    text-decoration: none;
}
.bmb7-content p {
    font-size: 20px;
    font-weight: normal;
}
/* BLOCK 8 */
.boss-main-block8 {
    /*background-color: #6fcd9b;*/
    background-color: #eaeace;
    border-bottom: 1px solid #222;
    padding-top: 30px;
}
.bmb8-content {
    margin-top: 20px;
}
.bmb8-row {
    margin-bottom: 30px;
}
.bmb8-boss-img {
    width: 100%;
}
.bmb8-quote {
    cursor: pointer;
}
.bmb8-content-images {
    margin-top: 75px;
}
.bmb8-buttons-block {
    margin-top: 65px;
}
.bmb8-black-white-appstore, .bmb8-black-white-gplay {
    /*width: 286px;*/
    /*height: 94px;*/
    width: 287px;
    height: 95px;
}
.bmb8-black-white-appstore {
    /*background: url("/images/btn_black_white_appstore.png");*/
    /*background: url("../images/btn_black_white_appstore1.png");*/
    background: url("../images/btn_black_white_appstore2.png");
}
.bmb8-black-white-gplay {
    /*background: url("/images/btn_black_white_gplay.png");*/
    background: url("../images/btn_black_white_gplay1.png");
}
.bmb8-black-white-appstore span {
    position: relative;
    left: 80px;
    top: 5px;
    font-size: 20px;
    color: #fff;
}
.bmb8-black-white-gplay span {
    position: relative;
    left: 85px;
    top: 5px;
    font-size: 20px;
    color: #fff;
    /*text-transform: uppercase;*/
}
.bmb8-btn-link:hover {
    text-decoration: none;
}
/*.cbovz-quote-link:hover .cbovz-quote-links span {*/
    /*text-decoration: none;*/
/*}*/
.cbovz-quote-links {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 256px;
    text-align: center;
}
.cbovz-quote-links:hover span {
    text-decoration: none;
}
.cbovz-quote-links a,
.cbovz-quote-links a:hover {
    text-decoration: none;
}
.cbovz-quote-links span {
    display: block;
    font-size: 20px;
    color: #333;
}
.cbovz-quote-links span.line1 {

}
.cbovz-quote-links span.line2 {
    font-weight: bold;
    text-decoration: underline;
}
.cbovz-quote-links span.line2:hover {
    text-decoration: none;
}

/* BLOCK 9 */
.boss-main-block9 {
    background-color: #231f20;
    border-bottom: 1px solid #ffd715;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header-white {
    color: #fff;
}
.bmb9-carousel-wrapper {
    width: 100%;
    height: auto;
    margin: 15px auto 20px;
}
#block9_carousel .carousel-control.left,
#block9_carousel .carousel-control.right {
    background-image:none !important;
    filter:none !important;
}
#block9_carousel .carousel-control .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    color: #fff;
    right: 0;
}
#block9_carousel .carousel-control .glyphicon-menu-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    color: #fff;
    left: 0;
}
#block9_carousel .carousel-control.left,
#block9_carousel .carousel-control.right {
    width: 30px;
}
.bmb9-carousel-wrapper .item {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
/* BLOCK 10 */
.boss-main-block10 {
    background-color: #231f20;
    border-bottom: 1px solid #222;
    padding-top: 30px;
    padding-bottom: 30px;
}
.bmb10-p {
    color: #fff;
    /*font-size: 22px;*/
    font-size: 16px;
    padding-top: 10px;
}
/* BLOCK 11 */
.boss-main-block11 {
    /*background-color: #ffd715;*/
    background-color: #fce652;
    border-bottom: 20px solid #231f20;
    /*padding-top: 30px;*/
    padding-bottom: 40px;
}
.bmb11-content {
    margin-top: 40px;
}
.bmb11-header {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 63px;
    font-weight: 900;
    color: #000;
}
.b11-row {
    margin-bottom: 7px;
}
.b11-row a, .b11-row a:hover {
    font-size: 16px;
    color: #000;
}
.b11-row a {
    text-decoration: underline;
}
.b11-row a:hover {
    text-decoration: none;
}
.bmb11-private-area {
    height: 58px;
}
.b11-pa-text, .b11-pa-text:hover {
    color: #000;
    margin-left: -10px;
}
.b11-pa-text {
    text-decoration: underline;
}
.b11-pa-text:hover {
    text-decoration: none;
}
.warta-logo-img {
    filter: alpha(opacity=40);
    -moz-opacity:0.4;
    opacity: 0.4;
}

/* ADVERTISEMENT BLOCK */
.boss-main-advertising {
    border-bottom: 1px solid #222;
}
.middle-banner-img {
    width: 100%;
}
.top-banner-link, .top-banner-link:hover,
.top-banner-link:active, .top-banner-link:focus {
    color: #fff;
    text-decoration: none;
}

/* NEWS PAGE */
.boss-news-block {
    /*background-color: #ebebec;*/
    background-color: #daecf4;
    /*padding-top: 215px;*/
    padding-top: 140px; /* 150 */
}
.wrap-news {
    background-color: #ebebec;
    padding-bottom: 20px;
}
.boss-news-block .bmb2-header {
    text-align: left;
}
.boss-news-block .bmb5-subscribe-block {
    margin-top: 30px;
}
.current-news-header {
    margin-bottom: 15px;
}
h3.news-title {
    color: #222;
}
.nt-border-btm {
    border-bottom: 1px solid #222;
    padding-bottom: 15px;
}
.news-pubdate {
    color: #bbbdbe;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 100;
}
.news-other {
    margin: 50px 0 50px 0;
}
h3.news-title a, h3.news-title a:hover {
    color: #222;
}
.no-padding-left {
    padding-left: 0;
}
.news-buttons {
    margin-bottom: 85px;
}
.news-gplay-btn {
    margin-left: 50px;
}

/* FEEDBACK PAGE */
.boss-feedback-block {
    /*background-color: #6fcd9b;*/
    background-color: #eaeace;
}
.feedback-wrapper {
    /*background: url('../images/boss-bg.png') repeat;*/
    padding-top: 20px;
    padding-bottom: 20px;
}
.feedback-wrapper > .container {
    /*padding-top: 215px;*/
    /*padding-bottom: 265px;*/
    padding-top: 120px; /* 150 */
    padding-bottom: 50px;
}
.wrap-feedback {
    background-color: #6fcd9b;
    padding-bottom: 20px;
}
.feedback-wrapper .bmb2-header {
    text-align: left;
    margin-left: 28px;
}
.vfeed-carousel-wrapper {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 95%;
    margin: 0 auto;
}
.vfeed-carousel-wrapper .item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.vfeed-carousel-wrapper .carousel-control.left, .vfeed-carousel-wrapper .carousel-control.right {
    background-image: none !important;
    filter: none !important;
}
.vfeed-carousel-wrapper .carousel-control.left {
    left: -30px;
}
.vfeed-carousel-wrapper .carousel-control.right {
    right: -30px;
}
.vfeed-carousel-wrapper .carousel-control {
    width: 30px;
}
.vfeed-carousel-wrapper .glyphicon-menu-right, .vfeed-carousel-wrapper .glyphicon-menu-left {
    color: #000;
    position: absolute;
    top: 45%;
}
.vfeed-carousel-wrapper .glyphicon-menu-right {
    right: 0;
}
.vfeed-carousel-wrapper .glyphicon-menu-left {
    left: 0;
}
#text_feedback_carousel .bmb6-thumb {
    background-color: transparent;
}
.feed-about-gplay {
    font-size: 26px;
    margin-left: 50px;
    padding-top: 10px;
}
.boss-feedback-block .bmb1-yellow-gplay {
    margin-left: 25px;
}

/* PRICE PAGE */
.boss-price-block {
    /*background-color: #ebebec;*/
    background-color: #eaeace;
}
.price-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}
.price-wrapper > .container {
    /*padding-top: 215px;*/
    padding-top: 120px; /* 150 */
    padding-bottom: 50px;
}
.price-table > tbody > tr > td {
    border-top: none;
    vertical-align: middle;
}
.price-title, .price-cost {
    text-align: right;
    font-size: 18px;
}
.option-title {
    padding-left: 30px !important;
    font-size: 18px;
}
.price-cost-span {
    font-size: 20px;
    font-weight: bold;
}
/*.option-td-circle:last-child {*/
.option-td-circle {
    padding-right: 20px !important;
    min-width: 150px;
    position: relative;
}
.price-tr-light {
    /*background: #ebebec;*/
    background: #eaeace;
}
.price-tr-dark {
    background: #e0e1e2;
}
.price-circle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    float: right;
}
.option-circle-yes {
    border: 2px solid #000;
    background: #000;
}
.option-circle-no {
    border: 2px solid #777;
    background: transparent;
}
.option-circle-planned {
    border: 2px solid #b5b7b9;
    background: #b5b7b9;
}
.price-header {
    text-align: left;
    margin-bottom: 10px;
}
.option-note-block {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: normal;
}
.price-buttons .bmb4-black-appstore, .price-buttons .bmb4-black-gplay {
    display: inline-block;
}
.price-buttons .bmb4-black-gplay {
    position: relative;
    top: 0px;
    margin-left: 50px;
}
.price-note {
    font-size: 12px;
    font-style: italic;
    color: #777;
}
.option-td-circle > .price-note {
    float: right;
}
.with-note {
    vertical-align: top;
}
.price-star {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 18px;
}

/* ABOUT PAGE */
.about-block {
    /*background: #ffd715;*/
    background: #fce652;
    border-bottom: 1px solid #222;
    /*margin-top: 50px;*/
    font-size: 18px;
}
.about-content {
    font-size: 18px;
    font-weight: normal;
}
.about-block-wrapper {
    /*background: url('../images/boss-bg.png') repeat;*/
    background: url('../images/boss-bg2.png') repeat;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: normal;
}
.about-block-wrapper > .container {
    /*padding-top: 215px;*/
    /*padding-bottom: 265px;*/
    padding-top: 120px; /* 150 */
    padding-bottom: 10px;
}
.about-block .bmb2-header,
.about-images-block .bmb2-header,
.about-vacancy .bmb2-header  {
    text-align: left;
}
.about-images-block {
    /*background: #6fcd9b;*/
    background: #eaeace;
    border-bottom: 1px solid #222;
    padding-top: 20px;
    padding-bottom: 50px;
}
.about-vacancy {
    /*background: #ffd715;*/
    background: #fce652;
}
.about-vacancy-wrapper {
    /*background: url('../images/boss-bg.png') repeat;*/
    background: url('../images/boss-bg2.png') repeat;
    padding-top: 20px;
    padding-bottom: 10px;
}
.about-vacancies {
    margin-top: 30px;
    margin-bottom: 0;
}
.about-vacancies .panel-body {
    font-weight: normal;
}
.about-vacancies .panel, .about-vacancies .panel-default > .panel-heading {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.about-vacancies .panel-group .panel-heading + .panel-collapse > .panel-body,
.about-vacancies .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #222;
}
.about-vacancies .panel-title {
    font-size: 20px;
}
.panel-title > a:active,
.panel-title > a:focus {
    text-decoration: none;
}
.about-vacancies .panel-body {
    font-size: 14px;
}
.about-mail {
    width: 88px;
    height: 73px;
    background: url("../images/about_mail.png");
    margin: 10px 0 15px;
}
.about-mail-address {
    text-align: left;
    margin-bottom: 40px;
}
.about-mail-address span {
    font-size: 22px;
    border-bottom: 1px dotted #444;
    padding-bottom: 2px;
}
.about-mail-address span:hover {
    border-bottom: none;
}
.about-mail-address a,
.about-mail-address a:hover
.about-mail-address a:active
.about-mail-address a:focus {
    color: #111;
    text-decoration: none;
}

/* FAQ PAGE */
.faq-block {
    /*background: #6fcd9b;*/
    background: #daecf4;
    font-size: 18px;
    padding-top: 60px;
}
.wrap-faq {
    background: #6fcd9b;
}
.faq-email-text {
    font-size: 18px;
}
.faq-block-wrapper .about-vacancies {
    margin-top: 0;
}
.faq-block-wrapper .panel-heading,
.faq-block-wrapper .panel-body {
    padding-left: 0;
}
.faq-block-wrapper > .container {
    /*padding-top: 215px;*/
    /*padding-bottom: 265px;*/
    padding-top: 80px; /* 150 */
    padding-bottom: 50px;
}
.faq-block .bmb2-header {
    text-align: left;
}
.faq-email-text {
    padding-top: 25px;
}
.faq-block-wrapper .bmb4-black-gplay {
    top: 0px;
}

/* PARTNER PAGE */
.partner-block {
    /*background: #ffd715;*/
    background: #fce652;
    font-size: 18px;
}
.wrap-partner {
    background: #ffd715;
}
.partner-block-wrapper > .container {
    /*padding-top: 215px;*/
    /*padding-bottom: 265px;*/
    padding-top: 140px; /* 150 */
    padding-bottom: 50px;
}
.partner-block .bmb2-header {
    text-align: left;
}
.partner-dbutton-block {
    margin-top: 40px;
    margin-bottom: 50px;
}
.partner-dbutton {
    width: 351px;
    height: 94px;
    background: url("../images/partner_btn.png") no-repeat;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.partner-dbutton-text {
    width: 200px;
    position: absolute;
    right: 10px;
    /*color: #ffd715;*/
    color: #fce652;
    font-size: 20px;
    top: 18px;
}
.partn-block {
    width: 90%;
}
.partn-block-center {
    margin-right: auto;
    margin-left: auto;
}
.partner-email-block {
    background: #231f20;
    padding: 40px 0 0;
    font-size: 18px;
    /*color: #ffd715;*/
    color: #fce652;
}
.partner-mail {
    width: 89px;
    height: 73px;
    background: url("../images/partner_mail.png");
    margin: 10px auto 15px;
}
.partner-mail-address {
    text-align: center;
    margin-bottom: 40px;
}
.partner-mail-address span {
    font-size: 22px;
    border-bottom: 1px dotted #ffd715;
    padding-bottom: 2px;
}
.partner-mail-address span:hover {
    border-bottom: none;
}
.partner-mail-address a,
.partner-mail-address a:hover
.partner-mail-address a:active
.partner-mail-address a:focus {
    /*color: #ffd715;*/
    color: #fce652;
    text-decoration: none;
}

/* CONTACT PAGE */
.contact-about-mail {
    margin-top: 25px;
}
.contact-map-content {
    margin: 50px 0 10px;
    position: relative;
}
.contact-map-content img {
    width: 100%;
}
.contact-digits {
    position: absolute;
    top: 140px;
    font-size: 56px;
    width: 100%;
}
.cd-small-block {
    width: 200px;
    height: 200px;
    border: 1px solid #222;
    padding-top: 20px;
}
.cdsb-num {
    font-size: 58px;
    font-weight: 900;
    width: 100%;
    text-align: center;
}
.cdsb-text {
    font-size: 22px;
    width: 100%;
    text-align: center;
}
.cd-big-block {
    width: 300px;
    height: 200px;
    border: 1px solid #222;
    padding-top: 20px;
    margin: 0 auto;
}
.footer-boss-img {
    margin-bottom: 25px;
}
.footer-boss-socials {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}
#scrollup{
    width:40px;
    height:40px;
    opacity:0.5;
    position:fixed;
    bottom:50px;
    right:50px;
    display:none;
    text-indent:-9999px;
    background: url("../images/icon_top.png") no-repeat;
}
.grid {
    margin: 0 auto;
}
.grid-item {
    width: 300px;
    padding: 1px;
}
.grid-item img {
    max-width: 100%;
}
.Collage{

    /* define how much padding you want in between your images */
    padding:1px;

}

.Collage img{

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    /*opacity:0;*/

}

.langversion {
    margin: 120px 0 40px;
}